version: "3.9"
services:
  db:
    container_name: tsdb
    image: ${PG_IMAGE}
    ports:
      - ${PG_PORT}:5432
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - "./pgdata:/var/lib/postgresql/data"

  grafana:
    container_name: grafana
    image: grafana/grafana
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - 3000:3000

volumes:
  pgdata:
  grafana-data:
