{:paths ["src"]
 :deps  {reagent                   {:mvn/version "0.10.0"}
         re-frame                  {:mvn/version "1.0.0-rc4"}
         org.clojure/core.async    {:mvn/version "1.2.603"}
         garden                    {:mvn/version "1.3.5"}
         cljstache                 {:mvn/version "2.0.6"}
         route-map                 {:mvn/version "0.0.7-RC1"}
         chrono                    {:git/url "https://github.com/HealthSamurai/chrono"
                                    :sha "a558ded3bf133706f5fc9d35d3301c447a6ad0e2"}}
 :npm-deps {:jwt-decode "2.2.0"
            :react "16.13.0"
            :react-dom "16.13.0"}
 :aliases
 {:shadow
  {:extra-deps {thheller/shadow-cljs       {:mvn/version "2.10.15"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :report
  {:extra-deps {thheller/shadow-cljs       {:mvn/version "2.10.15"}}
   :main-opts ["-m" "shadow.cljs.build-report"]}

  :dev
  {:extra-deps {re-frisk                   {:mvn/version "1.3.4"}
                cider/cider-nrepl          {:mvn/version "0.25.0-SNAPSHOT"}
                refactor-nrepl             {:mvn/version "2.5.0"}
                binaryage/devtools         {:mvn/version "0.9.10"}}}
  :test
  {:extra-paths ["test"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps  {day8.re-frame/test   {:mvn/version "0.1.5"}
                 healthsamurai/matcho {:mvn/version "0.3.7"}}}

  :ci
  {:main-opts   ["-m" "kaocha.runner" "--profile" ":ci" "--config-file" "test.edn"]}

  :run-test
  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0-612"}}
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test.edn"]}}}
