name: Clojure CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install clojure tools-deps
        uses: clojure:latest

      - name: Build app
        run: cd app && clojure -A:uberjar
      - name: Build ui
        run: cd ui && clojure -A:shadow release app

      - name: Kaniko build App
        uses: aevea/action-kaniko@master
        with:
          image: aidbox/aidbox-ts-app
          build_file: Dockerfile.app
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Kaniko build UI
        uses: aevea/action-kaniko@master
        with:
          image: aidbox/aidbox-ts-ui
          build_file: Dockerfile.ui
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
